<% @documents.each do |document| %>
  <div class="modal-body">
    <p>
      [citation details here]
      <% unless document.purl.blank? %>
        <%= link_to document.purl %>
      <% end %>
    </p>
  </div>
<% end %>