<%# This is an Images results view %>

<div id="documents" class="gallery">

  <ul class="image-grid">
    <%- documents.each_with_index do |document, index| -%>
      <li class="image-item">
        <%= link_to_document document, 
                             :label => image_tag(document.first_image(:thumb),
                                                 :alt => document.title, 
                                                 :title => document.title,
                                                 :border => 0),
                             :counter => (index + 1 + @response.params[:start].to_i) %>
        <!-- Not using the document_header partial here because we need to truncate title -->
        <div class="documentHeader clearfix">
          <h3 class="index_title">
            <%= link_to_document document, 
                                 :label=> truncate(document.title, :length => 55), 
                                 :counter => (index + 1 + @response.params[:start].to_i) %>
          </h3>
          <% # bookmark functions for items/docs -%>
          <%#= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
        </div>

        <%#= render_document_partial document, :index, :document_counter => index %>
      </li>
    <%- end -%>
  </ul>
</div>
