<%# This is an Images results view %>

<div id="documents" class="list">
  <%- documents.each_with_index do |grouping, index| -%>
    <%- if grouping.group -%>
      <h4><%= grouping.group %> (<%= t('frda.search.occurrence', :count => grouping.total) %>)</h4>
    <%- end -%>
    <%- grouping.docs.each do |document| -%>
      <div class="row">
        <div class="span9">
          <%= render :partial => "document_header", :locals => {:document_counter => index, :document => document} %>
          <% unless list_is_empty?(document.year)%>
            <span class="year"><%= show_list(document.year) %></span>
          <% end %>
        </div>
      </div>
    <%- end -%>
  <%- end -%>
</div>
