<%# This is an AP results view, using the name 'covers' %>

<div id="documents" class="covers">

  <ul class="image-grid">
    <%- documents.each_with_index do |document, index| -%>
      <li class="image-item">
        <%= link_to(image_tag(document.first_image(:size=>:thumb),
              :alt => document.title, :title => document.title, :border => 0),
              catalog_path(document[:id])) %>

        <!-- Not using the document_header partial here because we need to truncate title -->
        <div class="documentHeader clearfix">
          <h3 class="index_title">
            <%#= link_to_document document, :label=> document_show_link_field %>
            <%= link_to document.title, catalog_path(document[:id]) %>
          </h3>
          <% # bookmark functions for items/docs -%>
          <%#= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
        </div>

        <%#= render_document_partial document, :index, :document_counter => index %>
      </li>
    <%- end -%>
  </ul>
</div>
