<!-- NOTE THIS VIEW IS NOT CURRENTLY UTILIZED -->

<%= render "gallery_toggle" %>

<script language="JavaScript">
	$(document).ready(function(){
		var options = {
			zoom: 5,
			center: new google.maps.LatLng(41.9015141,12.4607737),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map( document.getElementById( 'result_map' ), options );
	});
</script>

<div id="documents" class="map">

	<div id="result_map"></div>

</div>
