<% # header bar for doc items in index view -%>
<div class="documentHeader clearfix">
  
  <% # main title container for doc partial view -%>
  <h3 class="index_title">
    <%= link_to_document document, :label=>document.title(:length=>'short') %>
  </h3>

  <% # bookmark functions for items/docs -%>
  <%#= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
</div>
