<div class="modal hide fade" id="flipbook">
  <div class="modal-body">
	<iframe src="http://sul-reader.stanford.edu/flipbook2/view.jsp?id=<%=@id%>#page/<%=@page_num%>/mode/1up" width="650" height="650"></iframe>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>