<div class="row results-controls">

  <div class="span5 prev-next">
    <% if paginate_params(@response).num_pages > 1 %>
    <%= paginate_rsolr_response @response, :theme => :blacklight_compact %>
    <% else %>
    <%= render_pagination_info(@response) %>
    <% end %>
  </div>

  <div class="span4 page-pulldown">
    <%= render 'sort_and_per_page' %>
  </div>

</div>
