<div id="select_all_on_page-dropdown" class="dropdown hidden-phone">
  <span class="hide-text"><%= t('frda.search.select_all_on_page') %></span>
  <div class="btn-group">
    <button class="btn btn-small label-text">
      <%= t('frda.search.select_all_on_page') %>
    </button>
    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">View selections</a></li>
      <li class="divider"></li>
      <li><a href="#">Clear all selections</a></li>
    </ul>
  </div>
</div>
