<% @page_title = @document.title %>

<div id="item_detail" class="document">
	<% if @document.images_item? %>
	
		<%= render :partial=>'show_images_item' %>
	
	<% elsif @document.ap_item? %>
		
		<%= render :partial=>'show_ap_item' %>
	
	<% end %>
</div>
