<div class="row">
  <div class="span12">
    <h2><%= t('frda.collection.member_detail') %></h2>
  </div>
</div>

<div class="row document-details">
  <div class="span6 member-image">
    <div class="item active">
      aa<%= image_tag(@document.first_image, :alt => @document.title) %>
    </div>
  </div>

  <div class="span6 metadata">
		<%=show_formatted_list(@document.description(I18n.locale))%>bb
	</div>
</div>
