<div class="span6 member-image">
    <div class="item active">
      <%= image_tag(@document.first_image, :alt => "Image") %>
    </div>
</div>

    <div class="span6 metadata">
			<%=show_formatted_list(@document.description)%>
		</div>

