<% @page_title = "Page #{@document.page_number}"%>

<div class="row">
  <div class="span12">
      <h2><%= @page_title %></h2>
  </div>
</div>

<div class="row document-details">
  <div class="span6">
    <div class="item active">
      <%= image_tag(@document.first_image, :alt => "Image") %>
    </div>
  </div>

  <div class="span6 metadata">

  Page Level Metadata
  </div>
</div>
