<div class="row results-views">
  <div class="span9 view-toggle">
    <div class='gallery_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">
        <li><%= link_to(t('frda.search.view_toggle.gallery'), catalog_index_path(params.merge(:view => 'gallery')), :class=>"#{'active' if params[:view] == 'gallery'}") %></li>
        <li><%= link_to(t('frda.search.view_toggle.list'), catalog_index_path(params.merge(:view => 'list')), :class=>"#{'active' if params[:view] == 'list'}") %></li>
      </ul>
    </div>
  </div>
</div>
