<div class="row results-views">
  <div class="span9 view-toggle">
    <div class='gallery_toggle tabbable tabs-below'>
      <ul class="nav nav-pills">
        <li><%= link_to(t('frda.search.gallery_toggle.default'), catalog_index_path(params.merge(:view => 'default')), :class=>"#{'active' if params[:view] == 'default' or params[:view].nil? }") %></li>
        <li><%= link_to(t('frda.search.gallery_toggle.text'), catalog_index_path(params.merge(:view => 'brief')), :class=>"#{'active' if params[:view] == 'brief'}") %></li>
        <li><%= link_to(t('frda.search.gallery_toggle.gallery'), catalog_index_path(params.merge(:view => 'gallery')), :class=>"#{'active' if params[:view] == 'gallery'}") %></li>
      </ul>
    </div>
  </div>
</div>
