<div class="modal-header">
  <h3><%= t('frda.show.cite.title') %></h3>
</div>

<%= render :partial => 'citation' -%>

<div class="modal-footer">
  <button class="btn" data-dismiss="modal">
    <%=t('frda.nav.close')%>
  </button>
</div>