<div class='date-range-selector'>
  <div class="dates2svg-grid">
    <%= render "blacklight_dates2svg/date_range_grid" -%>
    <div class="dates2svg-controls">
      <%= render "blacklight_dates2svg/date_range_form" -%>
    </div>
  </div>
</div>
