<div class='row date-range-selector'>
  <div class="span6">
    <%= render "blacklight_dates2svg/date_range_grid" -%>
  </div>
  <div class="span3 dates2svg-controls">
    <%= render "blacklight_dates2svg/date_range_form" -%>
  </div>
</div>
