.blacklight-about {
  h2 {
    border-top: 1px solid #ddd;
    margin-bottom: 3px;
    margin-top: 36px;
    padding-top: 6px;
    &.report-problem {
      @include main-top-border;
      margin-top: 0;
    }
  }
  h3 {
    border-bottom: 1px solid #ddd;
    color: $heading_color;
    font-size: 1.25em;
    margin-top: 30px;
  }
  h2#curator {
    @include main-top-border;
    margin-top: 0;
    padding-top: 10px;
  }
  p {
    font-family: $text_font_family;
  	font-weight: 400;
    color: #333333;
  	margin: 0 0 20px 0;
  	width: 90%;
  }
  #content img {
    float: left;
    padding: 5px 20px 5px 0;
  }
  span.slug {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    text-indent: -9999px;
    background: darken($header_bg_color, 15%);
  }
  span.contact-link {
    display: block;
  }
  blockquote {
    width: 80%;
  }
  .curator-title {
    color: #555;
    font-size: 0.95em;
    font-style: italic;
    font-weight: 400;
  }
  .icon-user {
    margin-left: 5px;
    vertical-align: top;
  }
  #sidebar #sidebar-nav {
    margin-top: 9px;
    .nav-header {
      color: $darkgray3;
      font-weight: 700;
    }
  }
  dt {
    font-weight: 700;
  }
  p, li, dt, dd {
    font-size: 0.95em;
  }
  .well.known-issue {
    background-color: #f7f6f2;
    border-color: #e3dfd5;
    margin: 30px;
    padding: 15px;
    p {
      width: 100%;
    }
  }

  // Make textarea wide as reasonable given viewport size
  @media (min-width: 980px) {
    textarea#message {width: 500px;}
    .project-team.bnf {
      dt {width: 240px;}
      dd {margin-left: 260px;}
      &.fr {
        dt {
          white-space: normal;
        }
        dd {
          margin-bottom: 6px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 979px) {
    textarea#message {width: 320px;}
  }
  @media (max-width: 767px) {
    textarea#message {}
  }
}
