.blacklight-about {
  h2 {border: none;}
  h3 {
    border-bottom: 1px solid #ddd;
    color: $heading_color;
    font-size: 1.25em;
    margin-top: 30px;
  }
  p {
    font-family: $text_font_family;
  	font-weight: 400;
  	font-size: 1.125em;
    line-height: 1.5em;
    color: #333333;
  	margin: 0 0 20px 0;
  	width: 90%;
  }
  #content img {
    float: left;
    padding: 5px 20px 5px 0;
  }
  span.slug {
    display: block;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    text-indent: -9999px;
    background: $active_link_color;
  }

  // Make textarea wide as reasonable given viewport size
  @media (min-width: 980px) {
    textarea#message {width: 500px;}
  }
  @media (min-width: 768px) and (max-width: 979px) {
    textarea#message {width: 320px;}
  }
  @media (max-width: 767px) {
    textarea#message {}
  }
}
