/* Overrides to default plugin values */

.date-range-selector {
  text-align: center;
  margin-top: 12px;
  rect {
    &:hover {
      stroke: #222;
      stroke-width: 0.5px;
      cursor: pointer;
    }
    &[data-selected='true']{
      stroke: #999;
      stroke-width: 0.5px;
    }
  }
  .dates2svg-grid {
    margin: 0 auto;
    width: 90%;
  }
  .dates2svg-controls {
    margin-bottom: 24px;
    width: 100%;
    .form-controls {
      margin: 0 auto;
      form {
        margin-bottom: 0;
        margin-top: 20px;
        input[type="text"] {
         height: 14px;
         font-size: 11px;
         line-height: 14px;
        }
      }
      .legend {
        margin-bottom: 0;
        margin-top: 24px;
      }
      .hits {
        padding-left: 12px;
      }
    }
  }
}
