.blacklight-catalog-index {
  h3 {
    padding-top: 10px;
    &.section-heading {
      border-top: 3px solid darken($header_bg_color, 5%);
      font-size: 1.25em;
    }
  }
  #featured-collection-nav {
    @include sidebar-top-border;
  }
  .documentHeader {
    display: inline-block;
	  .index_title {
		  float: left;
      margin: 0;
      max-width: 600px;
	  }
	  .documentFunctions {
		  float: right;
	  }
  }
  #documents.default {
    .row {margin-bottom: 20px; padding-left: 10px;}
    dl {margin-top: 8px;}
    dt {
      text-align: left;
      width: 50px;
    }
    dd {margin-left: 60px;}
    img {vertical-align: top;}
    .results-image {
      margin-top: 2px;
    }
    .results-metadata {margin-left: 0;}
  }
  span.inventory-ancestry {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.index_title {color: #999999;}
.bookmark_toggle {
	label {
		cursor: pointer;
		display: inline;
	}
}

.blacklight-catalog-show {
  #document, #document h4 {
    margin-top: 0;
    .document-details {
      margin-bottom: 10px;
      margin-top: 10px;
      dt {
        color: $heading_color;
        font-weight: 700;
      }
      dd {
        font-weight: 400;
      }
      a {@include link-uncolored-border;}
    }
  }
  h2 {@include page-header;}
  .member-image img {margin-bottom: 20px;}
  .show-document-title {
    margin-top: 0;
    padding-top: 0;
  }
  .zoom-image-link {
    display: block;
    &.visible-phone {margin-bottom: 15px;}
    &.hidden-phone {margin-top: 20px; margin-bottom: none;}
  }
  .dl-horizontal {
    dt {
      float: left;
      clear: left;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
      width: 90px;
    }
    dd {
      margin-left: 100px;
      margin-right: 15px;
    }
  }
  h3 {
    color: $heading_color;
  }
  ul.preview-folder-items {
    margin-left: 0;
    li {
      list-style-type: none;
      float: left;
      margin-bottom: 10px;
      margin-right: 15px;
      &:last-child {margin-bottom: 30px;}
    }
  }
  ul.item-mvf-list {
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    &.note li:last-child {
      padding-bottom: 9px;
    }
  }
  ul.item.breadcrumb {
    margin: 0;
    padding: 0 0 15px;
  }
  #previousNextDocument {
    font-size: 13px;
    margin-top: 5px;
  }
  // override image_viewer plugin styles
  .pe-h-nav {
    background: none;
    border: 1px solid darken($header_bg_color, 8%);
    width: 98%;
  }
  .pe-purl-url {
    border: none;
    bottom: -4px;
  }
}

/* AP Item Details */
.blacklight-catalog-show .show-document .ap-item {
 h2 {
   //border: none;
   //font-size: 14px;
   //font-weight: normal;
   a {color: $darkgray3;}
 }
 ul.item-breadcrumb {
   font-size: 0.9em;
   list-style-type: none;
   margin-bottom: 20px;
   a {@include link-uncolored-border;}
 }
 .well {
   padding: 6px 15px;
   a {@include link-uncolored-border;}
   button > a, .item-views a {border-bottom: none;}
   .item-views {
     text-align: center;
   }
   @include container-well;
 }
 .page-navigation .form-inline {
   display: inline-block;
   margin-bottom: 0;
 }
 .result-item-nav {
   font-size: 13px;
   padding-top: 5px;
 }
}
.image-box, .ocr-box {
  background: white;
  border: 1px solid #CCC;
}
.image-box {
  margin-right: 20px;
  padding: 0;
}
.ocr-box {
  padding: 12px 18px;
  p {margin-top: 0;}
}
.flipbook {
  height: 100%;
  text-align: center;
}
#physical {text-align: right;}
.ext-links a {
  @include link-uncolored-border;
  font-size: 0.9em;
}
#ap_page_image {
	height: 600px;
	width: 100%;
}
.ui-autocomplete-loading {
	background: '/images/ajax-loader.gif' right center no-repeat;
}


/* Images Item Details */
.blacklight-catalog-show .show-document .images-item {
  h2 {
    a {color: $darkgray3;}
  }
  h3 {
    margin-bottom: 6px;
  }
  ul.item-breadcrumb {
    font-size: 0.9em;
    list-style-type: none;
    margin-bottom: 20px;
    a {@include link-uncolored-border;}
  }
  &.well {
    margin-left: 0;
    button {
      float: right;
      a {border-bottom: none;}
      a:hover, a:active {text-decoration: none;}
    }
    a {
      @include link-uncolored-border;
    }
    #previousNextDocument {
      display: inline-block;
      float: left;
      margin: 0px;
      vertical-align: middle;
    }
    @include container-well;
  }
}

/* Citation */
.citation-title {
  font-style: italic;
}

/* Responsive styles */
@media (max-width: 979px) {
  .blacklight-catalog-show .images-item .member-image {float: none;}
  .blacklight-catalog-show .images-item .metadata {
    float: none;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .slideshow img {margin-bottom: 20px;}
  .blacklight-catalog-show .dl-horizontal {
    dt {
      float: none;
      width: 100%;
    }
    dd {margin-left: 0;}
  }
}
