#facets {
  h5 {background-color: $facet_box_background_color;}
  a {
    color: $facet_link_color;
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {text-decoration: underline;}
  span.selected {
    background-color: #eee;
    color: $facet_selected_color;
  }
}

/* "#facets-frda" serves as "#facets" does in Blacklight for CSS below.
   An extra wrapper div with the id of "facets-frda" is used to
   move the Browse heading outside of the facet box (for FRDA theme)
   and keep the responsive controls working as intended.
*/
#facets-frda {
  clear: both;
  margin-top: 30px;
  .btn-navbar {
    // Navbar button for toggling navbar items in responsive layouts
    // These definitions need to come after '.navbar .btn'
    display: none;
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    @include buttonBackground(darken($navbarBackgroundHighlight, 5%), darken($navbarBackground, 5%));
    @include box-shadow(#{inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075)});
    & .icon-bar {
      display: block;
      width: 18px;
      height: 2px;
      background-color: #f5f5f5;
      @include border-radius(1px);
      @include box-shadow(0 1px 0 rgba(0,0,0,.25));
    }
    & .icon-bar + .icon-bar {
      margin-top: 3px;
    }
  }
}

@media (max-width: 767px) {
  #facets-frda .btn-navbar {
    display: block;
    margin: 5px;
  }
}
