/* Theme color palette */
$cardinal_red: rgba(140,21,21, 1);
$dark_red: rgba(130,0,0, 1);

$gray1: rgba(251,249,249, 1);
$gray2: rgba(242,241,235, 1);
$gray3: rgba(233,230,223, 1);
$gray4: rgba(227,223,213, 1);
$gray5: rgba(213,208,192, 1);

$darkgray1: rgba(138,136,125, 1);
$darkgray2: rgba(86,83,71, 1);
$darkgray3: rgba(63,60,48, 1);

/* Variables */
$body_bg_color: $gray1;

$header_bg_color: lighten($gray2, 1%);
$nav_border_color: $gray4;

$container_bg_color: white;
$heading_color: $darkgray2;

$container_border_color: $gray5;
$sidebar_header_color: #555;
$text_color: #333;
$heading_font_family: 'Source Sans Pro', sans-serif;
$text_font_family: 'Source Sans Pro', sans-serif;

$active_link_color: $dark_red;
$hover_link_color: lighten($active_link_color, 10%);
$active_nav_link_color: lighten($active_link_color, 10%);
$inactive_nav_link_color: $darkgray2;
$active_heading_link_color: $active_link_color;

$facet_box_background_color: lighten($gray2, 2%);
$facet_link_color: $active_link_color;
$facet_selected_color: darken($facet_link_color, 10%);

/* constraint (you searched for:) details: */
$constraint_bg_color: #eee;
$constraint_border_color: darken($constraint_bg_color, 20%);
$constraint_border_active_color: #FFD27A !default;

/* Mixins */
@mixin sidebar-top-border {
  border-top: 5px solid desaturate($active_link_color, 50%);
  padding-top: 3px;
}

@mixin main-top-border {
  border-top: 5px solid darken($header_bg_color, 15%);
  padding-top: 10px;
}

@mixin page-header {
  @include main-top_border;
  color: $heading_color;
  font-family: $heading_font_family;
  margin-top: 0;
  padding-top: 10px;
}

@mixin member-section-header {
  @include main-top_border;
  color: $dark_red;
  margin-top: 0;
  padding-top: 10px;
  text-transform: uppercase;
}

/* Styling for breadcrumbs and other elements
   where we want to indicate it is a link but
   not show text in link color */
@mixin link-uncolored-border {
  border-bottom: 1px dotted $text_color;
  color: $text_color;
  text-decoration: none;
}

/* Styling for buttons and other elements
   where it is obviously a clickable element
   so we don't want to show text in link color */
@mixin link-uncolored {
  color: $text_color;
}

@mixin image-border {
  border: 1px solid #cccccc;
  padding: 4px;
}

/* Styling of well and other small container boxes */
@mixin container-well {
  background: $header_bg_color;
  border: 1px solid $container_border_color;
}

/* --- */

html {
  font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
  font-family: $text_font_family;
  background: $container_bg_color;
  font-size: 0.85em;
  line-height: 18px;
  margin: 0;
  height: auto;
}

#sidebar {@include sidebar-top-border;}
#sidebar-nav > .nav-list {
  margin-bottom: 20px;
  padding-left: 5px;
  li > a {padding: 1px 15px;}
  &.affix {width: 205px;}
}

a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover,a:active {
	outline: 0;
}

img {
	max-width: 100%;
	height:auto !important;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

a {
	color: $active_link_color;
	text-decoration: none;
}
a:hover {
	color: $hover_link_color;
	text-decoration: underline;
}

h1 {
	display: block;
	float: left;
	font-family: $heading_font_family;
	font-weight: 700;
	font-size: 1.5em;
	line-height: 1.1em;
	color: $text_color;
	margin-top: 30px;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 30px;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 10px;
}
h2 {
  @include page-header;
	font-size: 1.4em;
	font-weight: 600;
	line-height: 1.5em;
}
h3 {
  font-family: $heading_font_family;
	font-size: 1em;
	font-weight: 600;
	line-height: 1.5em;
}
h4 {
  font-family: $heading_font_family;
  color: $darkgray2;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 6px;
  text-transform: uppercase;
}
p {
  font-family: $text_font_family;
  color: #555555;
//  font-size: 0.8em;
  font-size: 13px;
  line-height: 1.5em;
  margin:12px 0;
}
input, button, select, textarea {
  font-family: $text_font_family;
}
span.content-type {
	font-size: 0.8em;
	font-weight: bold;
	display: block;
	color: #990000;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	&.collection {color: #01835F;}
}
.slideshow {
  margin-bottom: 20px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #eae5d6;
  color: #222;
  > [class^="icon-"] {background-image: none; }
}
.nav-header {color: $sidebar_header_color;}

.nav > li > a  {border-radius: 6px;}

.truncator-link {
  font-size: 1em;
}

.hidden {display: none;}
.off-screen {position: absolute; left: -100000px;}

// Override Blacklight theme pagination styling
.pagination {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  ul {
    font-size: 13px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    > li {
      > a, > span {
        background-color: transparent;
        border: none;
        border-right: 1px solid #ddd;
        color: $darkgray2;
        line-height: 1.5em;
        padding: 4px 10px;
      }
      > a:hover {
        color: $active_nav_link_color;
        text-decoration: underline;
      }
      &.disabled > a:hover, &.active > a:hover {text-decoration: none;}
      &:last-child > a,
      &:last-child > span {border-right: none;}
    }
    > .active > a {
      background-color: #f2f1f1;
      color: #555;
      font-weight: bold;
    }
    > .active > span {
      background-color: transparent;
      color: #999999;
      font-weight: bold;
      //&:hover {color: #999999;};
    }
  }
}
@media (max-width: 767px) {
  .pagination {clear: both;}
  .search_form .btn {float: left;}
  #sidebar-nav > .nav-list.affix {width: 258px;}
}
@media (min-width: 768px) and (max-width: 979px) {
  #sidebar-nav > .nav-list.affix {width: 150px;}
}
@media (min-width: 1200px) {
  #sidebar-nav > .nav-list.affix {width: 258px;}
}
