/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
}

#header-navbar-static-top {
  border-bottom: 1px solid $nav_border_color;
  &.navbar {
      font-family: $text_font_family;
    .logo {
      text-align: center;
      img {
        max-height: 125px;
        display: block;
        float: left;
        margin-right: 10px;
      }
    }
    .nav {
//      border-bottom: 1px solid $nav_border_color;
//      border-top: 1px solid $nav_border_color;
      clear: left;
      margin-top: 6px;
      padding-bottom: 3px;
      > li {
        &.active > a {
          background-color: #eeeeee;
          color: $active_nav_link_color;
        }
        > a {
          background-color: $header_bg_color;
          box-shadow: none;
          color: $inactive_nav_link_color;
          font-size: 1em;
          padding: 5px 14px 5px 14px;
          &:hover, &:focus {
            background-color: #eeeeee;
            color: $active_nav_link_color;
          }
        }
      }
//      > li:last-child > a {padding-right: 0}
    }
  }
  h1 {
    border-bottom: none;
    font-size: 2em;
    font-family: $heading_font_family;
    margin: 0;
    padding-bottom: 0;
  }
  h2 {
    border: none;
    clear: left;
    color: #999;
    font-family: $text_font_family;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    padding-top: 12px;
    text-transform: none;
  }
  .navbar-inner {
    background: $header_bg_color;
    background-image: none;
    border: none;
    box-shadow: none;
    padding-bottom: 15px;
    padding-top: 15px;
    .language-toggle {
      color: #999;
      font-size: 13px;
      margin-bottom: 9px;
      text-align: right;
    }
  }
}

/* Phones: reduce logo size and center site title and nav elements */
@media (max-width: 767px) {
  #header-navbar-static-top {
    .logo img {
      float: left;
      max-width: 80px;
    }
    h1 {
      font-size: 1.4em;
      float: none;
      margin-top: 10px;
    }
    &.navbar {
      h2 {display: none;}
      .site-header-content {text-align: center;}
      .language-toggle {text-align: center;}
      .nav > li:last-child > a {padding-right: 25px}
    }
  }
}
/* Tablets: reduce logo size and add some extra space between logo
   and site title and nav elements */
@media (min-width: 768px) and (max-width: 979px) {
  #header-navbar-static-top {
    .logo img {
      float: right;
      max-width: 120px;
    }
    h1 {
      font-size: 1.6em;
      margin-top: 10px;
    }
    &.navbar {
      h2 {font-size: 0.9em;}
      .language-toggle {text-align: left;}
    }
  }
}
