/* TODO: Refactor to use mix-ins, etc. */

#brandbar {
  min-height: 35px;
}

#header-wrapper {
  background: $header_bg_color;
  background-image: none;
  border-bottom: 1px solid $nav_border_color;
  #header-navbar-static-top {
    .site-header-content {
      height: 120px;
      position: relative;
    }
    &.navbar {
        font-family: $text_font_family;
      .logo {
        text-align: center;
        img {
          display: block;
          float: left;
          margin-right: 10px;
          max-width: 85%;
        }
      }
      .nav {
        clear: left;
        margin-top: 6px;
        position: absolute;
        bottom: 0;
        > li {

          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          &.active > a {
            border-left: 2px solid darken($active_nav_link_color, 10%);
            color: darken($active_nav_link_color, 10%);
          }
          > a {
            background-color: $header_bg_color;
            border-left: 2px solid #aca68d;
            border-radius: 4px;
            box-shadow: none;
            color: $inactive_nav_link_color;
            font-size: 1em;
            padding: 0 36px 0 9px;
            &:hover, &:focus {
              border-left: 2px solid $active_nav_link_color;
              color: $active_nav_link_color;
            }
          }
        }
        //> li:first-child > a {padding-left: 2px}
      }
    }
    h1 {
      border-bottom: none;
      color: #3f3c30;
      font-size: 2.3em;
      font-family: $heading_font_family;
      font-weight: 600;
      margin: 0;
      padding-bottom: 0;
    }
    h2 {
      border: none;
      clear: left;
      color: $darkgray2;
      font-family: $text_font_family;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;
      padding-top: 5px;
      text-transform: none;
    }
    .navbar-inner {
      background: none;
      background-image: none;
      border: none;
      box-shadow: none;
      padding-bottom: 15px;
      padding-top: 15px;
      .language-toggle {
        color: #999;
        font-size: 13px;
        //margin-bottom: 6px;
        text-align: right;
      }
    }
  }
}

/* Reset header to not be fixed height below 980px */
@media (max-width: 979px) {
  #header-wrapper #header-navbar-static-top {
    .site-header-content {
      height: 100%;
      position: static;
    }
    &.navbar {
      .nav {
        position: static;
      }
    }
  }
}
/* Phones: reduce logo size and center site title and nav elements */
@media (max-width: 767px) {
  #header-wrapper #header-navbar-static-top {
    &.navbar .logo img {
      float: left;
      max-width: 150px;
    }
    h1 {
      font-size: 1.4em;
      float: none;
      margin-top: 10px;
    }
    h2 {display: none;}
    .navbar-inner {
      .site-header-content {text-align: center;}
      .language-toggle {text-align: center;}
    }
    &.navbar .nav > li > a, &.navbar .nav > li.active > a {
      border-left: none;
    }
    &.navbar .nav > li:last-child > a {padding-right: 25px}
  }
}
/* Tablets: reduce logo size and add some extra space between logo
   and site title and nav elements */
@media (min-width: 768px) and (max-width: 979px) {
  #header-wrapper #header-navbar-static-top.navbar {
    margin: 0 auto;
    width: 724px;
    h1 {
      font-size: 1.5em;
      float: none;
      margin-top: 10px;
    }
    h2 {
      font-size: 0.95em;
    }
    .navbar-inner {
      padding-left: 0;
      .site-header-content {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        margin-left: 0;
        padding-left: 30px;
        .language-toggle {
          text-align: left;
        }
      }
    }
  }
}
/* Adjustments for wide window */
@media (min-width: 1200px) {
  #header-wrapper #header-navbar-static-top.navbar {
    .site-header-content {
      height: 147px;
    }
    h2 {
      font-size: 1.1em;
    }
    .nav > li > a {
      font-size: 1.1em;
    }
  }  
}
