@mixin modal-header {
	background-color: #8A887D;
	text-align: center;
}

.zoom-modal {
	width: 700px;
	height: 600px;
	.modal-body {
		max-height: 520px;
		height: 600px;
	}
}

#terms-dialog.modal {
  p {margin-left: 20px;}
	.modal-header {
	  @include modal-header;
	  padding: 0 0 9px;
	  h3 {
	    border-top: 1px solid #999;
      color: #fff;
	    font-size: 18px;
	  }
	}
	.modal-footer {
		padding: 15px;
		text-align: center;
	}
}
